/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Common */

*{
  box-sizing: border-box;
}

body{
  background: rgb(230,230,230);
}

.container{
  width: 70%;
  margin: 0 auto
}



/* header */
.header{
  background: white;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container{
  width: 60%;
  padding: 25px 0px;
  margin: 0px auto;
}

h1{
  font-size: 30px;
  font-weight: bold
}

.header li{
  margin-left: 20px;
  font-size: 18px;
}

.active{
  color: rgb(105,198,186)
}

/* hero */

.hero{
  background: linear-gradient(rgb(10,6,4,0.5),rgb(10,6,4,0.5)),url("assets/banner.jpg ");
  height: 700px;
  background-size: cover;
  color: white;
}

.text-align{
  text-align: center;
}

.center{
  justify-content: center;
}

h2{
  font-size: 50px;
  margin-bottom: 20px;
}

form{
  background: white;
  margin: 30px auto;
  padding: 40px 40px;
}

label{
  display: block;
  color: rgb(52,56,59);
  font-size: 18px;
}

.hero input{
  height: 25px;
  width: 200px;
  padding: 10px;
  border: none;
}

.hero select{
    height: 25px;
    width: 80px;
  padding: 10px;
  border: none;
}

.availability-btn{
  height:40px;
  width: 300px;
  color: white;
  background: rgb(105,198,186);
  border: none;
  font-size: 16px;
}

.w-55{
  width: 55%;
}

.details label{
  margin-bottom: 10px;
}

.hero .row-1{
  margin-bottom: 40px;
}

.dot{
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
}

.big-dot{
  width: 20px;
  height: 20px;
  margin: 5px 0px;
}

.hero h4{
  margin: 20px 0px;
  font-size: 24px;
}

.down-arrow{
  width: 50px;
  height: 50px;
  background: rgb(105,198,186);
  border-radius: 50%;
}

/* intro */
.btn{
  padding: 15px 30px;
  font-size: 14px;
}

.w-70{
  width: 70%;
}

h3{
  font-size: 32px;
}

.intro h3{
  color: rgb(34,37,42);
}

.blue-btn{
  color: white;
  background: rgb(105,198,186);
}

.intro{
  padding: 50px 0px;
}

.intro p{
  margin: 20px 0px;
  line-height: 1.3;
  color: rgb(80,81,85);;
}

strong{
  font-weight: bold;
}

/* places */
.places{
  background: white;
  position: relative;
}

.places img{
  width: 50%;
}

.place-card{
  padding: 40px 30px;
  width: 600px;
  box-sizing: border-box;
  position: absolute;
  right: 80px;
}

p{
  line-height: 1.3;
}

.place-card p{
  margin: 20px 0px;
}

.blue-background{
  background: rgb(105,198,186);
  color: white;
}

.brown-background{
  background: rgb(198,105,149);
  color: white;
}

.wb-btn{
  background: white;
  color: rgb(105,198,186);
  border: none;
}

.brown-color{
  color: rgb(198,105,149);
}

.box{
  width: 50px;
  height: 50px;
  background: rgba(131,125,117,0.5);
  margin-right: 10px;
  color: white;
}

.nav-box{
  position: absolute;
}

.left{
  left: 464px;
}

.right{
  right: 455px;
}

.justify-right{
  justify-content: flex-end;
}

.row-2 .place-card{
  left: 80px;
}

/* maps */

.maps{
  background: rgb(105,198,186);
}

.maps p{
color: white;
}

.map-card{
  padding: 30px 40px;
}

/* price */

.price{
  padding: 60px 0px;;
}

.price .container{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.price{
  background: white;
}

h4{
  font-size: 24px;
}

.city{
  margin: 15px 0px;
  display: block;
}

.price p{
  color: rgb(80,81,85);
}

.w-50{
  width: 50%;
}

.price-box{
  background: rgb(105,198,186);
  color: white;
  height: 180px;
  padding: 0px 40px;
  position: relative;
}

.price-box p{
  color: white;
  margin: 20px 0px;
}

.align-stretch{
  align-items: stretch;
}

.price-tag{
  box-shadow: 0px 2px 10px 1px black;
}

.button-curve{
  position: absolute;
  right: 540px;
  height: 180px;
}

/* location */

.location{
  position: relative;
}

.location form{
  background: white;
  padding: 20px;
  position: absolute;
  top: 100px;
  right: 100px;
  width: 400px;
}

.location input,textarea{
  display: block;
}

.location input{
  height: 40px;
  padding: 10px;
  border: none;
  background: rgb(245,245,245);
  color: rgb(166,171,176);
  width: 100%;
  margin: 10px 0px;
}

textarea{
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background:rgb(245,245,245);
  border: none;
}

.location .w-47{
  width: 47%;
}

.location .btn{
  width: 100%;
}

footer{
  background: rgb(105,198,186);
  color: white;
  padding: 20px 0px;
}